<section id="about" class="bg-primary">
  <div class="container text-center">
    <h2 class="section-heading" style="color:#fff">About Me</h2>
    <hr class="light">
    <div class="text-faded" style="font-size:18px; max-width: 900px; margin: 0 auto;">
      <p style="margin-bottom: 20px;">
        Nice to meet you, my future roommate!
        My name is Xiaocong Yang, and I'm currently a first-year PhD student in Computer Science at the University of Illinois Urbana-Champaign.
      </p>
      
      <p style="margin-bottom: 20px;">
        I'm known to be a friendly, humorous and helpful person, and I get along very well with my current roommate. We enjoy cooking and sharing meals together, going grocery shopping, playing sports at the ARC on weekends, and taking care of our cute and friendly cat.
      </p>
      
      <p style="margin-bottom: 20px;">
        During weekdays, I focus mainly on my academic research — I recently founded the AI Interpretability @ Illinois research group. In the evenings, I often play volleyball with a great group of friends (mostly undergraduates — I do get along well with people of all backgrounds).
      </p>
      
      <p style="margin-bottom: 20px;">
        I don't smoke or vape, and I don't host overnight guests or parties. I have a stable income as a research assistant and summer intern, and I've never missed rent or utilities payments. I and my current roommate tidy up daily and do a more thorough cleaning of shared areas about every two weeks.
      </p>
      
      <p style="margin-bottom: 20px;">
        My usual bedtime is around midnight; if I ever need to stay up late (the PhD life!), I make sure to keep things quiet. I really want our apartment to feel like a cozy home, not just a place to sleep — that's why I've invested in so many furniture and decorations to make it warm and welcoming.
      </p>
      
      <p style="margin-bottom: 20px;">
        Most importantly, I treat my roommate like family and truly value a positive living atmosphere -- a brotherhood vibe where we support each other. I hope you're someone who shares the same mindset!
      </p>
    </div>
    
    <!-- Scroll indicator -->
    <div class="scroll-indicator scroll-indicator-light" style="position: relative; margin-top: 60px;">
      <a href="#location" class="page-scroll">
        <span>View Location</span>
        <i class="fa fa-angle-down"></i>
      </a>
    </div>
  </div>
</section>
