<section id="highlights">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Apartment Highlights</h2>
        <hr class="primary">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="panel-group" id="apartment-accordion" role="tablist" aria-multiselectable="true">
          
          <!-- Location & Views -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-location">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#apartment-accordion" href="#collapse-location" aria-expanded="true" aria-controls="collapse-location">
                  <i class="fa fa-map-marker"></i> Location & Views
                  <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                </a>
              </h4>
            </div>
            <div id="collapse-location" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-location">
              <div class="panel-body">
                <ul>
                  <li>Beautiful pond view of Boneyard Creek park from living room, bedrooms & balcony</li>
                  <li>UIUC Campus Area - convenient location</li>
                  <ul>
                    <li>15 seconds elevator to Boneyard Creek Park (waterfall, pond, geese & fish!)</li>
                    <li>1 minute walk to outdoor basketball court</li>
                    <li>5 minutes walk to County Market / Fresh International / Champaign Public Library / Amtrak Station</li>
                    <li>13 minutes walk to Campustown / Main Quad / Grainger Library</li>
                    <li>20 minutes walk to ARC</li>
                    <li>Bus stop right outside the building (Logan & First, Bus Line {1, 2, 9, 12, 14, 100, 120})</li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>

          <!-- Building & Apartment -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-building">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#apartment-accordion" href="#collapse-building" aria-expanded="false" aria-controls="collapse-building">
                  <i class="fa fa-building"></i> Building & Apartment Features
                  <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                </a>
              </h4>
            </div>
            <div id="collapse-building" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-building">
              <div class="panel-body">
                <ul>
                  <li>Modern building (< 8 years old) with fully furnished rooms</li>
                  <li>Extra large private balcony</li>
                  <li>In-unit washer & dryer</li>
                  <li>Private bedroom with queen bed (including a high-quality mattress), two large wooden drawers, working desk & chair</li>
                  <li>Private bathroom with shower, toilet, sink</li>
                  <li>TV, sofa, table, chairs in living room</li>
                  <li>Large fridge, oven, stove, microwave, dining table, dishwasher in kitchen</li>
                  <li>High-speed internet, central heating & air conditioning with temperature control, garage, parking lot</li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Amenities & Extras -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-amenities">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#apartment-accordion" href="#collapse-amenities" aria-expanded="false" aria-controls="collapse-amenities">
                  <i class="fa fa-star"></i> Amenities & Extras
                  <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                </a>
              </h4>
            </div>
            <div id="collapse-amenities" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-amenities">
              <div class="panel-body">
                <p style="margin-bottom: 15px; font-size: 15px; color: #555; line-height: 1.6;">
                  The following amenities are purchased by me, and as a courtesy, I'm willing to share them with you for free if you can take good care of them.
                </p>
                <ul>
                  <li>Professional massage chair</li>
                  <li>Beanbag</li>
                  <li>Table lamps</li>
                  <li>Complete cookware set</li>
                  <li>Complete diningware set</li>
                  <li>Complete tea set</li>
                  <li>Cleaning supplies (broom/mop/vacuum)</li>
                  <li>Outdoor table & chairs</li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Room Details & Cost -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-cost">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#apartment-accordion" href="#collapse-cost" aria-expanded="false" aria-controls="collapse-cost">
                  <i class="fa fa-usd"></i> Room Details & Cost
                  <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                </a>
              </h4>
            </div>
            <div id="collapse-cost" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-cost">
              <div class="panel-body">
                <ul>
                  <li><strong>Unit:</strong> 1 bedroom + 1 bathroom (in 2b-2b apartment)</li>
                  <li><strong>Rent:</strong> $1,095/month</li>
                  <li><strong>Internet & Garbage:</strong> $49/month</li>
                  <li><strong>Additional:</strong> Water & electricity (varies by season, will be split between 2 tenants evenly unless one consumes far beyond average -- for example, you mine bitcoin / train a large language model at the apartment)</li>
                  <li><strong>Starting date:</strong> 08/01/2026</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    
    <!-- Scroll indicator -->
    <div class="scroll-indicator">
      <a href="#gallery" class="page-scroll">
        <span>View Photo Gallery</span>
        <i class="fa fa-angle-down"></i>
      </a>
    </div>
  </div>
</section>
